// Basic structure
#header,
#contents,
#footer {
  width: 100%;

  @include desktop {
    min-width: 1080px;
  }
}
#contents {
  @include phone {
    padding: 48px 15px 55px;
  }
  @include desktop {
    padding: 90px 40px 110px;
  }
}

/*
 * Footer fixed bottom
 * @see https://qiita.com/d0ne1s/items/5c629bc543e70ed2bf98
 */
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
#contents {
  flex: 1;
}

@import "header/header";
@import "loader/loader";
@import "footer/footer";
