// Simulator
#contents.simulator {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;

  .simulator_controller {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 15px;
    z-index: 10;

    a {
      display: block;
      width: 20vw;
      padding: 15px 0;
      text-align: center;

      &.simulator_prev {
        float: left;
        margin-left: 15px;
      }
      &.simulator_next {
        float: right;
        margin-right: 15px;
      }
    }
  }

  .simulator_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease-in;

    .simulator_page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      z-index: 0;
      float: left;
      // background-color: #eee;

      & > div {
        // background-color: #fff;
        padding: 15px;

        h1 {
          //
        }
      }

      @include phone {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 55px;
      }
      @include desktop {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 110px;
      }
    }
  }
}
